<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.subtitulo }}" />
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  </head>
  <body>
    <main>
      <!-- Logo do Produto com Link à Direita -->
      <section class="logo-section">
        <img src="{{ .Site.Params.logo | relURL }}" alt="Logo do Produto" />
        <a
          href="{{ .Site.Params.cta_link }}"
          target="_blank"
          class="header-link"
          >{{ .Site.Params.button_texto }}</a
        >
      </section>

      <!-- Wrapper para Banner e Conteúdo -->
      <div class="banner-content-wrapper">
        <!-- Banner do Produto ou Criador -->
        <section class="banner-section">
          <img
            src="{{ .Site.Params.banner | relURL }}"
            alt="Banner do Produto"
          />
        </section>

        <!-- Conteúdo Lateral (Título, Subtítulo, Disclaimer e CTA) -->
        <section class="content-section">
          <div class="cta-section">
            <h1 class="titulo">{{ .Site.Params.titulo }}</h1>
            <h2 class="subtitulo">{{ .Site.Params.subtitulo }}</h2>
          </div>

          <div class="disclaimer-section">
            {{ range .Site.Params.disclaimer }}
            <p class="disclaimer">{{ . }}</p>
            {{ end }}
          </div>

          <div class="button-section">
            <a href="{{ .Site.Params.cta_link }}" class="cta-button" target="_blank"
              >{{ .Site.Params.cta_texto }}</a
            >
          </div>
        </section>
      </div>

      <!-- Seção de Rodapé -->
      <footer class="footer-section">
        <p>&copy; 2024 <strong>meufuturo.shop</strong><br/>Todos os direitos reservados.</p>
        <p>
          <a href="{{ "privacy" | relURL }}">Política de Privacidade</a> |
          <a href="{{ "terms" | relURL }}">Termos de Serviço</a>
        </p>
      </footer>
      
    </main>
  </body>
</html>
